venv/
__pycache__/
*.pyc
.DS_Store

# Ignore Data (Too big for GitHub)
/data/
/checkpoints/

batch_scripts/batch_denoiser_results/
batch_scripts/batch_translation_results/
batch_scripts/batch_transformer_results/
batch_scripts/batch_gan_results/
batch_scripts/batch_diffusion_results/
batch_scripts/batch_transformer_results.zip